body{
  background-color:rgba(255, 254, 253, 0.842);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.part{
  box-sizing: border-box;
  border: 2px solid rgba(156, 78, 25, 0.082);
  width: 30%;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: auto;
  border-radius: 20px;
}
input{
  border: none;
  border-radius: 4px;
  font-size: 30px;
  color: red;
  padding: 16px 20px;
  width:100%;
  
}
textarea{
  border: none;
  border-radius: 4px;
  color: solid green;
  padding: 16px 20px;
  width:100%;
  font-size:18px;
  
  
}
Button{
  float: right;
  
}

.note_class{
  box-sizing: border-box;
  border: 2px solid teal;
  width:20%;
  box-shadow:  3px 7px teal;
  border-radius:5px;
  
  
}
.delete{
  float: right;

}





